<div class="container">
  <div class="card text-center">
    <div class="card-body">
      <div class="row">
        <h3>Acesso Negado</h3>
      </div>
      <div class="row">
        <p><img class="fit-card" src="../../../../assets/images/all.jpg"/></p>
      </div>
      <div class="row">
        <p>Você não possui acesso a essa funcionalidade
        <br />Caso acredite que isso seja um erro, entre em contato com seu suporte
        local.</p>
      </div>
      <div class="row">
        <button class="btn btn-primary justify-content-center align-self-center" routerLink="/">Página Inicial</button>
      </div>
    </div>
  </div>
</div>

