<body class="text-white" style="background-color: #090011;">
    <div class="gradientz" style="zmargin-left: 2%; zmargin-right: 2%; border-radius: 30px;">
        <header class="position-relative">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top border-info my-4">
                <div class="container-sm px-5 my-4 justify-content-around" style="gap: 70%;">
                    <a class="navbar-brand active text-white" aria-current="page" href="">
                        <img src="./assets/images/LogoHome.svg" alt="" width="120" height="30" class="d-inline-block align-text-top">
                    </a>
                    <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon bg-secondary"></span>
                    </button>

                    <div class="d-flex collapse navbar-collapse text-white position-absolute"id="navbarNav">
                        <ul class="navbar-nav p-2 px-4 rounded-pill fs-6 fw-light ul-navbar">
                            <li class="nav-item-index">
                                <a class="nav-link text-white" href="#">Home</a>
                            </li>
                            <li class="nav-item-index">
                                <a class="nav-link text-white" href="#">Sobre</a>
                            </li>
                            <li class="nav-item-index">
                                <a class="nav-link text-white" href="#">Contato</a>
                            </li>
                            <li class="nav-item-index">
                                <a class="nav-link text-white" href="#">Planos</a>
                            </li>
                        </ul>
                    </div>
                    <p>login</p>
                </div>  
            </nav>
        </header>

        <br><br><br>
            <img src="/Icons/arrow.svg" width="80px" alt="">
        <div class="container-sm px-5 text-white rounded-3 ">
                <h1 class="fw-normal fst-italic" style="letter-spacing: 2px; padding-left: 140px; padding-right: 140px;">Construa o seu próximo projeto no GLIMPSE</h1>
            <br>    
        </div><br>
    </div><br><br><br><br><br><br><br>
    <div>
            <h1 class=" display-3 fw-bold">Quem somos?</h1>
            <p class=" fs-4" style="padding-left: 20%; padding-right: 20%;">Nós somos uma ferramenta para gestão de equipes ágeis, com foco principalmente em desenvolvimento de software.</p><br><br>
            <button class=" p-3 button-create rounded-pill" style="width: 15%; outline-color: rgba(255, 255, 255, 0.377); background-color: #a426ee">
                <a routerLink="/projects" style="text-decoration: none; color:white;">Começar</a>
            </button>
    </div>

    <br><br><br><br><br><br><br>

    <div class="about text-dark d-flex justify-content-center flex-column" style="margin-left: 2%; margin-right: 2%; border-radius: 20px;">
        <h1 class="my-2 text-center mb-5 ">Porque escolher
            <div class="d-flex justify-content-center gap-2">
                o<p style="text-decoration: underline; text-decoration-color: #B936EF; text-decoration-thickness: 3px;">Glimpse?</p>
            </div>
        </h1><br><br>
        <div class="d-flex justify-content-center text-white " style="column-gap: 3%;">
            <div class="card swing" style="background-color: #202020;">
                <img class="mb-3" src="/Icons/agil.svg" alt="">
                <h4>Agilidade</h4><br>
                <p>Utilize métodos ágeis, como o Scrum, para gerenciar seus projetos com eficiência e flexibilidade.</p>
            </div>
            <div class="card swing" style="background-color: #7C46CD;">
                <img class="mb-3" src="/Icons/eye.svg" alt="">
                <h4>Visibilidade total</h4><br>
                <p>Obtenha uma visão clara e abrangente do progresso do seu projeto com quadros intuitivos e relatórios detalhados.</p>
            </div>
            <div class="card swing" style="background-color: #C05AEA;">
                <img class="mb-3" src="/Icons/colab.svg" alt="">
                <h4>Colaboração</h4><br>
                <p>Facilite a comunicação e a colaboração entre sua equipe com ferramentas integradas e fluxos de trabalho otimizados.</p>
            </div>
        </div>
    </div>

</body>